<section class="relative z-10 flex items-center mb-40 | section section--hero" data-bg-color="bg-purple" id="home">
  <div class="container relative z-20">
    <div class="row">
      <div class="col w-full lg:w-7/12 xl:w-7/12 lg:flex lg:flex-col lg:justify-center">
        <div class="row">
          <div class="col w-8/12 flex items-center lg:w-full">
            <p class="h1 | hero-h1 js-fadeIn">Hi, I'm Olly</p>
          </div>
          <div class="col w-4/12 -ml-1/12 flex items-center lg:hidden js-fadeIn">
            <div class="relative w-full | hero-illustration">
              <img class="absolute w-full h-full top-0 left-0 right-0 bottom-0 object-cover" src="{{ site.baseurl }}{{ section.image_url }}"/>
            </div>
          </div>
        </div>
        <div class="hero-text md:pr-40">
          <p class="js-fadeIn">{{ section.content | strip_html }}</p>
          <p class="py-2 px-4 bg-offWhite text-purple | js-fadeIn">{{ section.highlighted_message }}</p>
        </div>
        <div class="mt-12 | js-fadeIn">
          <a href="{{ section.button_url }}" class="button button-hoverEffect">{{ section.button_label }}</a>
        </div>
      </div>
      <div class="col hidden lg:block lg:w-5/12 xl:w-4/12">
        <div class="relative | hero-illustration js-fadeIn">
          <img class="absolute w-full h-full top-0 left-0 right-0 bottom-0 object-cover" src="{{ site.baseurl }}{{ section.image_url }}"/>
        </div>
      </div>
    </div>
  </div>
</section>