<section class="relative z-10 flex items-center | section section--hero" data-bg-color="bg-purple" id="home">
  <div class="container relative z-20">
    <div class="row">
      <div class="col w-full lg:w-8/12 xl:w-7/12">
        <p class="h1 mb-12 | hero-h1 js-fadeIn">Hi, I'm Olly</p>
        <div class="hero-text md:pr-40">
          <p class="js-fadeIn">{{ section.content }}</p>
          <p class="py-2 px-4 bg-offWhite text-purple | js-fadeIn">{{ section.highlighted_message }}</p>
        </div>
        <div class="mt-12 | js-fadeIn">
          <a href="{{ section.button_url }}" class="button button-hoverEffect"
            target="_blank">{{ section.button_label }}</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>