<section class="md:pt-24 | section" data-bg-color="bg-grey" data-sectionname="projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col w-full sm:w-10/12 mb-20 md:mb-64">
        <h2 class="h1 break-words | js-fadeIn">
          {{ section.title }}
        </h2>
      </div>
    </div>
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}
      {% if project.include != null %}
        {% include {{ project.include }} %}
      {% else %}
        {% include sections/default.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>