<footer class="pb-10 md:pb-24 pt-10 relative | section" data-bg-color="bg-grey" id="contact">
  <div class="container">
    <div class="row">
      <div class="col w-full">
        <h2 class="h1 | js-fadeIn">
          Get in touch
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col w-6/12 md:ml-1/12">
        <ul class="mt-8 h2">
          <li>
            <a class="inline-block py-2 md:py-3 | footer-link js-fadeIn" href="mailto: ollythedeveloper@gmail.com"
               target="_blank">
              📧 Email
            </a>
          </li>
          <li>
            <a class="inline-block py-2 md:py-3 | footer-link js-fadeIn" href="tel: +447596915220" target="_blank">
              ☎️ Phone
            </a>
          </li>
          <li>
            <a download class="inline-block py-2 md:py-3 | footer-link js-fadeIn"
               href="{{ site.baseurl }}/assets/img/olly-robinson-cv-front-end-2020.pdf" target="_blank">
              📃 Download My CV
            </a>
          </li>
          <li>
            <a class="inline-block py-2 md:py-3 | footer-link js-fadeIn"
               href="https://github.com/Ronald-Crosby/portfolio" target="_blank">
              🈁 This Repo
            </a>
          </li>
          <li>
            <a class="inline-block py-2 md:py-3 | footer-link js-fadeIn" href="https://github.com/Ronald-Crosby"
               target="_blank">
              🗄️ GitHub
            </a>
          </li>
        </ul>
      </div>
      <div class="col hidden md:block md:w-4/12 lg:w-4/12 xl:w-3/12 md:ml-1/12">
        <div class="relative | hero-illustration js-fadeIn">
          <img class="absolute w-full h-full top-0 left-0 right-0 bottom-0 object-cover"
               src="{{ site.baseurl }}/assets/img/olly-original-transparent-bg-compressed.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col ml-auto mt-6">
        <a class="ml-auto mr-2 | button button-hoverEffect js-fadeIn" href="#">Back to top</a>
        ⬆️
      </div>
    </div>
  </div>
</footer>
