<footer class="pb-10 md:pb-24 pt-10 min-h-screen-y relative | section" data-color="bg-grey" id="contact">
  <div class="container">
    <div class="row">
      <div class="col w-11/12 lg:w-10/12 text-left">
        <h2 class="alpha stroke-blue">
          Get in touch
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col w-6/12 md:ml-1/12 text-left">
        <ul class="mt-8 charlie md:bravo">
          <li class="relative">
            <a class="block py-2 md:py-3 hover-fill-text" data-text="Email" href="mailto: ollythedeveloper@gmail.com" target="_blank">
              Email
            </a>
          </li>
          <li class="relative">
            <a class="block py-2 md:py-3 hover-fill-text" data-text="Phone" href="tel: +447596915220" target="_blank">
              Phone
            </a>
          </li>
          <li class="relative">
            <a class="block py-2 md:py-3 hover-fill-text" data-text="My CV" href="#" target="_blank">
              My CV
            </a>
          </li>
          <li class="relative">
            <a class="block py-2 md:py-3 hover-fill-text" data-text="This Repo" href="https://github.com/Ronald-Crosby/portfolio" target="_blank">
              This Repo
            </a>
          </li>
          <li class="relative">
            <a class="block py-2 md:py-3 hover-fill-text" data-text="GitHub" href="https://github.com/Ronald-Crosby" target="_blank">
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col ml-auto mt-6">
        <a class="ml-auto button" href="#">Back to top</a>
      </div>
    </div>
  </div>
</footer>
