<header class="w-full fixed top-0 left-0 right-0 z-30 border-b-2 border-offWhite bg-purple overflow-hidden | globalHeader">
  <div class="container">
    <div class="row">
      <div class="col w-full flex justify-between items-center w-full py-10 | headerCol">
        <a href="{{ site.url }}" class="block h-full | js-fadeIn">
          <h1 class="h2 | animate-logo">
            Olly Robinson
          </h1>
        </a>
        <nav class="header-nav">
          <ul class="flex">
            {% assign navLinks = site.sections | sort: 'order' %}
            {% for link in navLinks %}
            {% if link.showNav %}
            <li class="hidden md:inline px-8 | js-fadeIn">
              <a class="button button-hoverEffect button--invert" data-id="{{ link.title | downcase }}" href="#{{ link.title | downcase }}">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="hidden md:inline px-8 | js-fadeIn">
              <a class="button button-hoverEffect button--invert" data-id="contact" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>