<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <title>Olly Robinson</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script type="module" src="{{ site.baseurl }}/assets/js/main.js"></script>
</head>
