<header class="w-full absolute top-0 left-0 right-0 px-4 z-20 | global-header">
  <div class="container">
    <div class="row">
      <div class="col w-full flex justify-between items-center w-full pt-12">
        <div>
          <h1 class="charlie header-logo">
            <a href="#">Olly Robinson</a>
          </h1>
        </div>
        <nav>
          <ul class="flex">
            <li class="hidden md:inline py-4 px-8 font-bold">
              <a class="button button--invert" href="#projects">Projects</a>
            </li>
            <li class="hidden md:inline py-4 px-8 font-bold">
              <a class="button button--invert" href="#about">About</a>
            </li>
            <li class="py-4 px-8 font-bold">
              <a class="button" href="#contact">Get in touch</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
