<div class="loading-background">
	<div class="loading-svg-container">
		<svg
			width="100%"
			height="100%"
			viewbox= "0 0 416 416"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			class="loader-svg"
		>
			<circle
				cx="208"
				cy="208"
				r="200"
				stroke="url(#paint0_linear)"
				stroke-width="16"
			/>
			<defs>
				<linearGradient
					id="paint0_linear"
					x1="200"
					y1="0"
					x2="200"
					y2="400"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#fff" />
					<stop offset="1" stop-color="#FFC7DB" />
				</linearGradient>
			</defs>
		</svg>
	</div>
</div>