<div class="{% if project.reverse %}flex-row-reverse{% else %}{% endif %} row | project-row">
  <div class="col w-full md:w-3/12 xl:w-2/12 z-10 mb-16 mt-12 lg:mt-0">
    <h3 class="bravo md:charlie mb-6 break-words">
      {{ project.title }}
    </h3>
    <a class="button" href="{{ project.live_url }}" target="_blank">
      {{ project.button_label }}
    </a>
  </div>
  <div class="col hidden lg:block lg:w-3/12 md:-mt-32">
    <div class="relative w-full z-20 overflow-hidden rounded-xl border | js-parallax parallax-scroll" data-parallax="-0.15" style="padding-top:217.1581769437%;">
      <img alt="" class="inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover" src="{{ site.baseurl }}{{ project.img_url_mobile }}">
    </div>
  </div>
  <div class="col w-full md:w-9/12 lg:w-7/12 xl:w-8/12 {% if project.reverse %}lg:-mr-1/12{% else %}lg:-ml-1/12{% endif %} md:-mt-16">
    <div class="relative w-full overflow-hidden rounded-xl border | js-parallax parallax-scroll" data-parallax="-0.1" style="padding-top:71.0709318498%;">
      <img alt="" class="inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover" src="{{ site.baseurl }}{{ project.img_url_desktop }}">
    </div>
  </div>
</div>
