.dark-circle {
  @apply absolute;
  display: none;
  width: 500px;
  height: 500px;
}

.about p + p {
  margin-top: 1rem;
}

@screen sm {
  .dark-circle {
    display: inline-block;
    right: -15%;
    top: 3%;
  }
}

@screen xl {
  .dark-circle {
    right: 5%;
  }
}
