@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-logo {
	0% {
		font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 800, 'slnt' -5, 'ital' 1;
	}
	100% {
		font-variation-settings: 'MONO' 0, 'CASL' 1, 'wght' 200, 'slnt' -5, 'ital' 1;
	}
}