/* purgecss start ignore */

.flickity-slider .carousel-cell {
  margin-left: 20px;
}

.flickity-slider .carousel-cell:first-child {
  margin-left: 0;
}

.carousel-box {
  min-height: 33rem;
}

.superhi-carousel .flickity-page-dots {
  bottom: -6rem;
}

.superhi-carousel .flickity-page-dots .dot {
  @apply bg-pink;
}

.superhi-carousel .flickity-page-dots .dot .is-selected {
  opacity: 1;
}

/* purgecss end ignore */