@screen lg {
  .hover-fill-text::after {
    content: attr(data-text);
    position: absolute;
    @apply inset-0;
    top: 12px;
    @apply w-full;
    @apply h-full;
    -webkit-text-fill-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

@screen md {
  .hover-fill-text:hover.hover-fill-text::after {
    opacity: 1;
  }
}
