.footer-link {
  font-variation-settings: 'MONO' 0.75, 'CASL' 0.35, 'wght' 200, 'slnt' -10, 'ital' 1;
  transition: font-variation-settings 0.5s ease, letter-spacing 0.5s ease, color 0.5s ease;
}

@screen md {
  .footer-link:hover {
    font-variation-settings: 'MONO' 0, 'CASL' 1, 'wght' 900, 'slnt' -10, 'ital' 1;
    letter-spacing: 0.1rem;
    @apply text-pink;
  }
}