.logo-outer {
	min-width: 170px;
}

@screen md {
	.logo-outer {
		min-width: 300px;
	}
}

@screen md {
	.header-logo {
		top: -15%;
	}
}

.animate-logo {
	/* animate logo */
	animation-name: animate-logo;
  animation-duration: 6s; 
  animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
