.section--hero {
  padding-top: 100px;
}

@screen lg {
  .section--hero {
    margin-bottom: 20vh;
  }
}

.hero--text-section * + * {
  margin-top: 4rem;
}

@screen lg {
  .hero--text-section * + * {
    margin-top: 60vh;
  }
}

.hero--image {
  position: sticky;
  top: 30%;
}