@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-background {
  width: 100vw;
  height: 100vh;
  @apply fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-grey;
  @apply z-50;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  transition: opacity 1s ease, display 1s ease;
}

.loading-svg-container {
	width: 50%;
}

@screen lg {
  .loading-svg-container {
    width: 33.333333%;
  }
}

.loader-svg {
  animation: loader-spin 1s linear infinite;
}

/* purgecss start ignore */

.loader-hidden {
  opacity: 0;
  pointer-events: none;
}

/* purgecss end ignore */