@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/IBMPlexMono/IBMPlexMono-Regular.woff2') format('woff2'),
    url('../fonts/IBMPlexMono/IBMPlexMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/IBMPlexMono/IBMPlexMono-Medium.woff2') format('woff2'),
    url('../fonts/IBMPlexMono/IBMPlexMono-Medium.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold.woff') format('woff');
}

html {
	font-size: 50%;
}

@screen sm {
  html {
    font-size: 62.5%;
  }
}

body {
	@apply text-base;
	font-family: 'IBM Plex Mono';
	@apply font-normal;
  @apply leading-relaxed;
  letter-spacing: -0.35px;
}

.h1, .h2, .h3 {
  letter-spacing: 0;
}

.h1 {
  font-family: 'IBM Plex Serif', Times, Serif;
  @apply font-bold;
  @apply italic;
  font-size: 10rem;
  @apply tracking-wide;
  @apply text-offWhite;
}

.h2 {
  font-family: 'IBM Plex Mono';
  @apply font-medium;
  font-size: 3rem;
  @apply text-offWhite;
}

.h3 {
  font-family: 'IBM Plex Serif', Times, Serif;
  font-style: normal;
  @apply font-bold;
  font-size: 3rem;
  @apply text-offWhite;
}
