@import './_tailwind.css';
@import './_grid.css';
@import './_animations.css';
@import './_typography_variable.css';
@import './_buttons.css';
@import './_header.css';
@import './_footer.css';
@import './_hero.css';
@import './_projects.css';
@import './_about.css';
@import './_carousel.css';

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
}

#background {
  height: 100vh;
  width: 100%;
  z-index: -1;
  transition: background-color 0.4s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.transitionBackground {
  transition: background-color 0.5s linear;
}

.svg-shadow {
  filter: drop-shadow(20px 10px 50px rgba(0, 0, 0, 0.3));
}

::-moz-selection {
  @apply bg-lightBlue;
  @apply text-pink;
}

::selection {
  @apply bg-lightBlue;
  @apply text-pink;
}
